<div class="other-articles">
    <h4 class="other-articles__section center">Read more</h4>
    <ul class="other-articles__holder">
        {% assign current-post = page.title %}
        {% for post in site.posts limit:10 %}
            {% unless post.title == current-post %}
                <li class="other-articles__element clearfix">
                    <a href="{{ post.url }}" class="other-articles__link">
                        <div class="other-articles__title">{{ post.title }}</div>
                        <div class="other-articles__date">{{ post.date | date: "%-d %B %Y" }}</div>
                    </a>
                </li>
            {% endunless %}
        {% endfor %}
    </ul>
</div>
