%content-element {
    max-width: $content-width;
    margin: 0 auto 100px;
}

%link {
    -webkit-transition: background-color 0.3s linear;
       -moz-transition: background-color 0.3s linear;
            transition: background-color 0.3s linear;

    &:hover,
    &:active {
        color: $background-color;
        background-color: $highlight-color;
    }
}

%secondary-title {
    font-size: $content-subtitle-font-size;
    line-height: $content-subtitle-line-height;
    font-weight: 300;
    margin: 0;
    padding: 0 0 30px;
    display: block;
}

.content {
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
    color: $content-font-color;
}

.header {
    padding: 0 30px;
    color: $content-header-color;

    &__title {
        font-size: $content-title-font-size;
        line-height: $content-title-line-height;
        font-weight: 800;
        margin: 0;
        padding: 0 0 14px;
        display: block;
    }

    &__subtitle {
        @extend %secondary-title;
    }

    &__credits {
        font-size: $content-credits-font-size;
        line-height: $content-credits-line-height;
        font-weight: 300;
        margin: 0;
        padding: 0 0 70px;
        display: block;
    }
}

.article {
    @extend %content-element;

    p:first-child {
        font-size: $font-size * 1.35;
        line-height: $line-height * 1.35;
        margin: 0 0 $line-height * 1.35;
    }

    a {
        display: inline-block;
        color: $highlight-color;
        text-decoration: none;
        @extend %link;
    }
}

.comments {
    @extend %content-element;
}

.other-articles {
    @extend %content-element;

    &__section {
        @extend %secondary-title;
    }

    &__holder {
        margin: 20px 0 0;
        padding: 0;
        list-style: none;
    }

    &__element {
        border-bottom: 1px solid lighten($content-font-color, 50%);
        padding: 10px 0;

        &:last-of-type {
            border-bottom: 1px solid transparent;
        }
    }

    &__title {
        float: left;
        color: $highlight-color;
        @extend %link;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    &__date {
        float: right;
    }

    &__title,
    &__date {
        padding: 0 10px;
    }

    &__link {
        text-decoration: none;
        color: $content-font-color;
    }
}
