---
layout: default
---
<div class="content post">
    <div class="header center">
        <h1 class="header__title">{{page.title}}</h1>
        {% if page.subtitle %}<h2 class="header__subtitle">{{page.subtitle}}</h2>{% endif %}
        <p class="header__credits">by <strong>{{site.name}}</strong> — Posted {% if page.category %}in <strong>{{page.category}}</strong>{% endif %} on <strong>{{ page.date | date: "%-d %B %Y" }}</strong>
        </div>
    <div class="article">
        {{content}}
    </div>
    <div class="comments">
        {% include disqus.html %}
    </div>
    {% include article-list.html %}
</div>


